.IDE__JS__header{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*boton de los testers*/
.IDE__JS__btn{
    width: 40%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
}

/*Consola*/

.IDE__JS__consoleCont{
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    background-color: rgb(14, 14, 14);
    box-sizing: border-box;
    padding: 10px 15px;
}

.IDE__JS__console {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    color: white;
    display: flex;
    gap: 7px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end; /* Mantiene los elementos en la parte inferior */
}
  

.IDE__JS__consoleCont::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.IDE__JS__consoleCont::-webkit-scrollbar-thumb {
  background-color: red; /* Color del thumb (agarre) */
  border-radius: 4px; /* Borde redondeado del thumb */
}

.IDE__JS__consoleCont::-webkit-scrollbar-track {
  background-color: green; /* Color del track (rastro) */
  border-radius: 0; /* Borde redondeado del track */
}

.console-error{
    background-color: rgba(255, 0, 0, 0.404);
    min-width: 30%;
    display: flex;
    align-items: center;
    padding: 7px 5px;
    padding-right: 10px;
    border-radius: 5px;
}

.console-warn{
    background-color: rgba(255, 255, 0, 0.295);
    min-width: 30%;
    display: flex;
    align-items: center;
    padding: 7px 5px;
    padding-right: 10px;
    border-radius: 5px;
}
  

@media screen and (max-width:1020px) {
    .IDE__JS__btn{
        width: 55%;
    }
}


@media screen and (max-width:980px) {
    .IDE__JS__header{
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }
    
    
    .IDE__JS__btn{
        width: 60%;
    }

}

