
/*ESTILOS GENERALES*/

.headerPrivate{
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid violet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: relative;
}


.headerPrivate__menu{
  padding: 20px 40px;
  border: 1px solid black;
  position: absolute;
  top: 100%;
  right: 10px;
  z-index: 300;
  background-color: blueviolet;
}

  
.mainPrivate{
  width: 100%;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  border: 1px solid green;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #414141; /* Color del thumb (agarre) */
  border-radius: 4px; /* Borde redondeado del thumb */
}

.scroll::-webkit-scrollbar-track {
  background-color: #242424; /* Color del track (rastro) */
  border-radius: 0; /* Borde redondeado del track */
}
